@font-face {
	font-family: 'icon';
	src: url('fonts1/icon.eot?at19xa');
	src: url('fonts1/icon.eot?at19xa#iefix') format('embedded-opentype'), url('fonts1/icon.ttf?at19xa') format('truetype'), url('fonts1/icon.woff?at19xa') format('woff'), url('fonts1/icon.svg?at19xa#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.Hui-aside .menu_dropdown dt i {
 font-family: 'icon' ;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.icon01, .icon02, .icon03, .icon04, .icon05, .icon06, .icon07, .icon08, .icon09, .icon10, .icon11, .icon12, .icon13, .icon14, .icon15, .icon16, .icon17, .icon18, .icon19, .icon20, .icon21, .icon22 {
	color:#fff;
	font-style:normal;
	display: inline-block;
    font-size: 22px;
    margin-top: -5px;
    padding: 0 0 0 15px;
    vertical-align: middle;
}
.icon01:before {
    content: "\e900";
}
.icon02:before {
    content: "\e901";
}
.icon03:before {
    content: "\e902";
}
.icon04:before {
    content: "\e903";
}
.icon05:before {
    content: "\e904";
}
.icon06:before {
    content: "\e905";
}
.icon07:before {
    content: "\e906";
}
.icon08:before {
    content: "\e907";
}
.icon09:before {
    content: "\e908";
}
.icon10:before {
    content: "\e909";
}
.icon11:before {
    content: "\e90a";
}
.icon12:before {
    content: "\e90b";
}
.icon13:before {
    content: "\e90c";
}
.icon14:before {
    content: "\e90d";
}
.icon15:before {
    content: "\e90e";
}
.icon16:before {
    content: "\e90f";
}
.icon17:before {
    content: "\e910";
}
.icon18:before {
    content: "\e911";
}
.icon19:before {
    content: "\e912";
}
.icon20:before {
    content: "\e913";
}
.icon21:before {
    content: "\e914";
}
.icon22:before {
    content: "\e915";
}
.mr-8{margin-right:8px;}
.Hui-aside .menu_dropdown dt .icon-sy,.Hui-aside .menu_dropdown dt .icon-py {
    font-size: 25px;
  padding: 0px 2px 0 12px;
    font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
 


