<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!--
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/platform?useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.default_schema">platform</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    </session-factory>
-->

	  <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@10.236.0.200:1521:DHCS</property>
        <property name="hibernate.connection.username">claimuser</property>
        <property name="hibernate.connection.password">claimuser</property>
        <property name="hibernate.default_schema">CLAIMUSER</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  </session-factory>
</hibernate-configuration>  